<a href="/products/<%= product.id %>" class="btn">Details</a>
<form action="/cart" method="post">
  <input type="hidden" name="productId" value="<%= product._id %>" />
  <button class="btn" type="submit">Add To Cart</button>
</form>
